.mainContainer {
  flex-direction: column;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  color: #402C03;
}

.titleContainer {
  display: flex;
  flex-direction: column;
  font-size: 64px;
  font-weight: bolder;
  align-items: center;
  justify-content: center;
}

.subTitleContainer {
  font-size: 24px;
  line-height: 2.5;
}

.resultContainer, .historyItem { 
  flex-direction: row;
  display: flex;
  width: 400px;
  align-items: center;
  justify-content: space-between;
}

.historyContainer {
  flex-direction: column;
  display: flex;
  height: 200px;
  align-items: center;
  flex-grow: 5;
  justify-content: flex-start;
}

.buttonContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100px;
}

.inputContainer {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.inputContainer > .errorLabel {
  color: red;
  font-size: 12px;
  margin-left: 1rem;
}

.inputBox {
  height: 48px;
  width: 400px;
  font-size: large;
  border-radius: 8px;
  border: 1px solid grey;
  padding-left: 8px;
  margin: 10px;
}

.selectMenu {
  font-size: 12px;
  width: 400px;
}

.header {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 60px;
  padding: 0 2rem;
  z-index: 1;
  position: relative;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}

.header div {
  display: inline-flex;
  align-items: center;
}

.header2 {
  display: flex;
  justify-content: flex-end;
  height: 60px;
  gap: 1rem;
  padding: 0;
  z-index: 1;
  position: relative;
}

#teamLogo { 
  width: 105px;
  vertical-align: middle;
  margin-right: 40px;
}

#logo {
  height: 40px;
  margin: 10px;
}

#headerMenu {
  vertical-align: middle;
}

#sessionManagement {
  border: none;
  background: none;
  color: #402C03;
  display: flex;
  margin: 0;
  font-size: 16px;
  cursor: pointer;
  width: fit-content;
}

.navBar {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  position: fixed;
  top: 60px;
  left: 0;
  z-index: 2;
  overflow-x: hidden;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  padding-top: 1.5rem;
  height: 100%;
}

#navBarTab {
  border: transparent;
  background: transparent;
  color: #402C03;
  padding: 1rem, 2rem;
  margin: .3rem .5rem;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  text-align: left;
}

#navBarTab:hover {
  background: #eff6ff;
}
#navBarTabSelected {
  border: transparent;
  background: #eff6ff;
  color: #2563eb;
  padding: 1rem, 2rem;
  margin: .3rem .5rem;
  font-size: 16px;
  cursor: pointer;
  width: 200px;
  text-align: left;
}

.footer {
  display: flex;
  margin-left: auto;
  margin-right: auto;
  padding-right: max(env(safe-area-inset-right),1.5rem);
  padding-left: max(env(safe-area-inset-right),1.5rem);
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
}


html,
body {
  padding: 0;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen, Ubuntu, Cantarell,
    Fira Sans, Droid Sans, Helvetica Neue, sans-serif;
}

* {
  box-sizing: border-box;
}

main {
  padding: 5rem 0;
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

code {
  background: #fafafa;
  border-radius: 5px;
  padding: 0.75rem;
  font-family: Menlo, Monaco, Lucida Console, Courier New, monospace;
}

input[type="button"] {
    border: none;
    background: #F6B42E;
    color: white;
    padding: 12px 0;
    font-size: 24px;
    border-radius: 8px;
    cursor: pointer;
    width: 400px;
    margin: 10px;
}

#team {
  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 60px;
  font-family: sans-serif;

}

.button {

  background-color: #fafbfc;
  border: none;
  color: black;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 30px;
  margin: 80px 150px;
  padding-top: 40px;
  padding-bottom: 70px;
  font-family: sans-serif;
  color: black;
  cursor: pointer;
  text-decoration: none;
  width: 400px;
  height: 48px;
  border: none;

}

.button2 {

  text-align: center;
    font-size: 30px;
    font-family: sans-serif;
    padding-top: 40px;
    padding-bottom: 70px;

    display: inline-block;
    color: black;
    background-color: #fafbfc;
    cursor: pointer;  
    text-decoration: none;
    margin: 80px 150px;

    width: 400px;
    height: 50px;
     border: 5cm;

}

#head {

  text-align: center;
  font-weight: bold;
  font-size: 50px;
  padding: 5px;
  font-family: sans-serif;
}


#head1 {

  font-weight: bold;
  font-size: 50px;
  padding: 5px;
  font-family: sans-serif; 

}

.button3 {
  text-align: center;
  font-size: 14px;
  font-family: sans-serif;
  background: #e8edf1 ;
  border: none;
  display: inline-block;
  cursor: pointer;  

  margin-left: 10px;
   margin-top: 10px;
}


.choose {
  text-align: center;
}

#teamList {
  text-align: left;
}

.user {
  background-color: fafbfc;
  font-size: 30px;
  font-family: 'Courier New', Courier, monospace;
  padding: 20px;
  margin: 20px;
}